@page "/test"

<PageTitle>Test sayfası</PageTitle>

<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>
<h1>Burası test sayfası</h1>

...
<SurveyPrompt Title="How is Blazor working for you?" />
<a href="https://erdikalleci.com">Erdi Kalleci</a>
